/* admin colors light */
:root {

  /* light theme style.css */
  --body_bg: #FFFFFF;
  --body_text: #0D0C13;

  --text_link: #0C53F6;
  --text_link_hover: #012883;

  --button_text: #EDEDEF;
  --button_bg: #0066FF;
  --button_text_hover: #FFFFFF;
  --button_bg_hover: #0C53F6;

  /* dark theme tables */
  --row_bg_hover: #EDEDEF;

  /* dark theme fields */
  --input_bg: #EDEDEF;
  --input_text_color: #24232B;
  --input_bg_hover: #D0D0D5;
  --input_text_color_hover: #0D0C13;
}
