/* colors light */
body
{
  color:#232323;
  background-color:#ffffff;
}
#headcontainer,
#footcontainer
{
  background-color:#cdefef;
}

#messagebox .formmessage,
#messagebox .loginmessage
{
  background-color:#ededed;
}
