/* Globals admin */
:root {
  --font_base_family: 'Montserrat', sans-serif;
  --font_base_size: 1.1em;
  --font_small_size: 0.8em;

  --border_radius_base: 6px;
}

body
{

  margin:0;
  padding:0;

  font-family: var(--font_base_family);
  font-size: var(--font_base_size);

  letter-spacing: -0.02em;
  font-weight:500;
  line-height:1.6em;

  color: var(--body_text);
  background-color: var(--body_bg);
}

a
{
  color: var(--text_link);
  text-decoration:none;
}
a:hover
{
  color: var(--text_link_hover);
  text-decoration:underline;
}

#adminbar,
.outermargin
{
  position:relative;
  width:90%;
  max-width:1158px;
  margin: 0px auto;
}


/* overlay */
.layer
{
}
.overLayScreen.layer
{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow-y:auto;

  background-color: var(--body_bg);
}

button.closeOverlay
{
  position:absolute;
  top:0px;
  right:0px;
  z-index:999;
}
button.closeOverlay span
{
}




button
{
  background-color:var(--button_bg);
  color: var(--button_text);
  cursor:hand;
  cursor:pointer;
  transition: all 0.9s ease-out;
}

button.small
{
  font-size: var(--font_small_size);
  letter-spacing: -0.01em;
  padding:3px 6px;
}

button.previewemailbutton,
button.previewsurveybutton
{
}

button:hover
{
  background-color:var(--button_bg_hover);
  color: var(--button_text_hover);
}





/* large */
@media all and (min-width: 560px){




}
