/* public colors dark */
:root {

  /* dark theme style */
  --body_bg: #000000;
  --body_text: #cdcdcd;

  /* dark theme tables */
  --row_bg_hover: #34414e;

  /* dark theme fields */
  --input_bg: rgb(234,238,242, 0.3);
  --input_bg_hover: rgb(165, 214, 255,0.5);

}
