/* Global public */
:root {
  --font_base_family: 'Montserrat', sans-serif;
  --font_base_size: 1em;
  --border_radius_base: 6px;
}

body
{

  margin:0;
  padding:0;

  font-family: var(--font_base_family);
  font-size: var(--font_base_size);

  letter-spacing: -0.02em;
  font-weight:500;
  line-height:1.6em;

  color: var(--body_text);
  background-color: var(--body_bg);
}

input, textarea, button, select
{
  background: var(--input_bg);
  font-family: var(--font_base_family);
  font-size: var(--font_base_size);
  /* matching body style */
  letter-spacing: 0.01em;
  font-weight:500;
  line-height:1.6em;

  border:none;
  border-radius: var(--border_radius_base);
}
.formrow,
.formend,
.entry
{
  padding:3px 0px;
}
.formfield span
{
  display:inline-block;
  min-width:200px;
  min-height:28px;
  margin-right:10px;
}


/* large */
@media all and (min-width: 560px){


}
