/* Global public */
:root {
  --font_base_family: 'Montserrat', sans-serif;
  --font_base_size: 1em;
  --border_radius_base: 6px;
}

body
{

  margin:0;
  padding:0;

  font-family: var(--font_base_family);
  font-size: var(--font_base_size);

  letter-spacing: -0.02em;
  font-weight:500;
  line-height:1.6em;

  color: var(--body_text);
  background-color: var(--body_bg);
}

a
{
  color: var(--text_link);
  text-decoration:none;
}
a:hover
{
  color: var(--text_link_hover);
  text-decoration:underline;
}
input#go,
button
{
  background-color:var(--button_bg);
  color: var(--button_text);
  padding:3px 6px;
}
input#go:hover,
button:hover
{
  background-color:var(--button_bg_hover);
  color: var(--button_text_hover);
}


#adminbar,
.outermargin
{
  position:relative;
  width:90%;
  max-width:1158px;
  margin: 0px auto;
}

input, textarea, button, select
{

  background-color: var(--input_bg);
  color: var(--input_text_color);

  font-family: var(--font_base_family);
  font-size: var(--font_base_size);

  /* matching body style */
  letter-spacing: 0.01em;
  font-weight:500;
  line-height:1.6em;

  border:none;
  border-radius: var(--border_radius_base);

  margin:0px 2px;
  border:none;
  padding:2px 8px;
}
.formrow,
.formend,
.entry
{
  padding:3px 0px;
}
.formfield span
{
  display:inline-block;
  min-width:200px;
  min-height:28px;
  margin-right:10px;
}


/* large */
@media all and (min-width: 560px){


}
