/* Admin Style*/



/* position and size */
.outermargin
{
  width:96%;
  max-width:540px;
  margin:0px auto;
}

input,
textarea
{
  position:relative;
  padding:5px;
  min-height:30px;
}



.emailform label
{
  display:block;
}
.emailform label .incorrect
{
}




#actionbox .element .inputbox
{
}


.overLayScreen
{
  position:absolute;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index:900;
}
.overLayScreen .framecontainer
{
  padding:3vh 3vw;
}
.overLayScreen .framecontainer .contentbox
{

}


/* colors and backgrounds */
input,
textarea
{
  background-color:#f9f9f9;
}

.overLayScreen,
#actionbox .element .inputbox:hover
{
  background-color:#cdefef;
}


.emailform label .incorrect
{
  border:2px solid red;
}
